<div class="container">
    <div class="search">
        <input class="form-control" name="name-search" placeholder="Search By Name" type="text" autocomplete="off"
            [(ngModel)]="searchTerm" />

        <div>
            <span class="btn btn-primary" (click)="getCharacters(1)">Search</span>
        </div>
    </div>

    <table *ngIf="characterCall" class="table table-dark">
        <tbody *ngIf="characterCall.results">
            <tr class="list-item" *ngFor="let c of characterCall.results" [routerLink]="['/character', c.id]"
                [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }">
                <td class="name">{{c.name}}</td>
                <td class="species">{{c.species}}</td>
                <td class="status">{{c.status}}</td>
                <td class="gender">{{c.gender}}</td>
            </tr>
        </tbody>
    </table>


    <ng-container *ngIf="pages">
        <div class="page-num-container">
            <span class="page-number" *ngFor="let p of pages" [ngClass]="{'active': (p === currentPage)}"
                (click)="getCharacters(p)">{{p}}</span>
        </div>
    </ng-container>
</div>